*{
    padding: 0px;
    margin: 0px;
    font-family: "Raleway";
    box-sizing: border-box;
}
.h1{
    font-weight: bolder;
    color: #009999;
    font-size: 300px;
    text-align: center;
}
.h2 {
    color: #ffffff;

    font-size: 30px;
    text-align: center;
    background-color: #009999;
}
.h3 {
    color: #009999;
    font-size: 20px;
    text-align: left;
}
.footer {
    margin-left: 380px;
    margin-right: 0px;
    margin-top: 60px;
    position: relative;
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color:#000;
    text-align: center;
}
.fa {
    margin-left: 160px;
}